@mixin transitionNavHover($property, $time, $effect){
	-webkit-transition: $property $time $effect;
	-moz-transition: $property $time $effect;
	-o-transition: $property $time $effect;
	transition: $property $time $effect;
}

@mixin boxShadowSection($hShadow, $vShadow, $blur, $color){
	-webkit-box-shadow: $hShadow $vShadow $blur $color;
	-moz-box-shadow: $hShadow $vShadow $blur $color;
	-o-box-shadow: $hShadow $vShadow $blur $color;
	box-shadow: $hShadow $vShadow $blur $color;
}
